.card-label {
	position: absolute;
	bottom: 90px;
	right: 0;
}

.card-label__content {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.8);
	color: #ffffff;
	font-size: 12px;
	font-family: "Segoe UI", sans-serif;
	font-weight: bold;
	height: 40px;
	padding: 0 50px;
}
