<div class="home">
	<app-card gameCover="assets/bt-1.jpg" gameLabel="Digital" gameType="Digital PS4" gamePrice="R$ 129,99"></app-card>
	<app-card gameCover="assets/bt-4.jpg" gameLabel="Exclusivo" gameType="Disc PS5" gamePrice="299,90"></app-card>
	<app-card gameCover="assets/bt-5.jpg" gameLabel="Digital" gameType="Disc PS5" gamePrice="199,90"></app-card>
	<app-card gameCover="assets/ac-cover.jpg" gameLabel="Best of the year" gameType="Disc PS5" gamePrice="199,90"></app-card>
	<app-card gameCover="assets/bt-bad-company-2.jpg" gameLabel="Exclusivo" gameType="Digital PS5" gamePrice="399,90"></app-card>
	<app-card gameCover="assets/bt-hardline.jpg" gameLabel="Exclusivo" gameType="Digital PS5" gamePrice="259,90"></app-card>
</div>

